includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8
    phpVersion: 80300
    paths:
        - wp-content/plugins/bp-headless
        - wp-content/themes/bp-headless-theme
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    treatPhpDocTypesAsCertain: false
